.jumbotron {padding: 0rem 2rem;}
.grid-container {
  display: grid;
  padding: 10px;
  text-align: center;
}
.player1 {
  grid-column: 1;
  grid-row: 1;
  height: 70px;
  font-size: 40px;
  font-style: italic;
}
.player2 {
  grid-column: 3;
  grid-row: 1;
  font-size: 40px;
  font-style: italic;
}
.dice {
  grid-column: 2;
  grid-row: 2 / span 3;
  height: 200px;
  line-height: 124px;
}
.score1 {
  grid-column: 1;
  grid-row: 2;
  font-size: 80px;
  color: red;
}
.score2 {
  grid-column: 3;
  grid-row: 2;
  font-size: 80px;
  color: red;
}
.current1 {left: 22%;}
.current2 {right: 22%;}

.red-box {
  top: 650px;
  position: absolute;
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 20px;
  width: 130px;
}
button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  cursor: pointer;
}

button:hover {font-weight: 600;}
button:hover i {margin-right: 20px;}
button:focus {outline: none;}

.new-game {top: 411px;}
.roll-dice {top: 665px;}
.hold-dice {top: 705px;}

.active {
  background-color: #e9ecef;
  border-radius: .3rem;
}
